<!-- breadcrumb -->

  <nav class="w-100 mt-3 mr-3" aria-label="breadcrumb">
      <ol class="breadcrumb bg-light">
          <li class="breadcrumb-item"><a href="/" class="text-dark">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Account Settings</li>
      </ol>
  </nav>



<!-- admin -->
<% if (user.category == "admin") { %>

<div class="row userinfo">

  <div class="col-md-8 offset-md-2">

    <div id="mds" style="margin-top: -62px;position: absolute;"></div>
    <p class="content-title">
      Account Details
    </p>
    <div>
      
    <form class="tab-form" id="informationForm" action="#">
      <div class="form-group">
        <label>Email</label>
        <div>
          <input type="email" class="form-control" name="infoEmail" id="infoEmail" placeholder="<%= user.email %>">
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <div style="position: relative;">
          <input disabled id="infoPwd" class="form-control" name="infoPwd" type="password" value=""
            placeholder="Password">
          <a class="pwd-edit" id="pwd-edit" href="javascript:void(0)" style="color:#495057;">Edit</a>
        </div>
      </div>
      
      <div class="form-group">
        <label>First Name</label>
        <div>
          <input type="text" class="form-control" name="firstName" id="firstName" placeholder="<%= user.firstName %>">
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <div>
          <input type="text" class="form-control" name="lastName" id="lastName" placeholder="<%= user.lastName %>">
        </div>
      </div>

      <div class="form-group">
        <label for="infoState">Date Of Birth</label>
        <div>
          <input type="text" id="dateOfBirth" class="form-control" name="dateOfBirth"
            placeholder="<%= user.dateOfBirth === "" ? user.dateOfBirth : "MM/DD/YY" %>">
        </div>
      </div>

      <button id="x1" onclick="saveUserInfo()" type="button" class="btn btn-warning btn-block login-btn">Save</button>
    </form>

  </div>
</div>
<% } else { %>

<!-- other users  -->

<div class="row userinfo">
  <div class="col-md-3">
    <div class=" navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active nav-link-c" href="#mds" onclick="tabCk('informationForm', this)">
            <i class="fas fa-user ml-2 mr-2"></i>Account Details
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-c" href="#mds" onclick="tabCk('cardForm', this)">
            <i class="fas fa-credit-card ml-2 mr-2"></i>Payment Methods
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-c" href="#mds" onclick="tabCk('deliveryForm', this)">
            <i class="fas fa-truck ml-2 mr-2"></i>Delivery Addresses
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-6">
    <div id="mds" style="margin-top: -62px;position: absolute;"></div>
    <p class="content-title">
      Account Details
    </p>
    <div>
      <!-- Account Details -->
      <form class="tab-form" id="informationForm" action="#">
        <div class="form-group">
          <label>Email</label>
          <div>
            <input type="email" readonly class="form-control-plaintext" name="email" id="email" placeholder="<%= user.email %>">
          </div>
        </div>
        <div class="form-group">
          <label>User Name</label>
          <div>
            <input type="text" class="form-control" name="username" id="username" placeholder="<%= user.username %>">
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <div style="position: relative;">
            <input disabled id="password" class="form-control" name="password" type="password" value="" placeholder="Password">
            <a class="pwd-edit" id="pwd-edit" href="javascript:void(0)" style="color:#495057;" >Edit</a>
          </div>
        </div>

        <label class="addr-other-x my-3">Details</label>

        <div class="form-group">
          <label>First Name</label>
          <div>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="<%= user.firstName %>">
          </div>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <div>
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="<%= user.lastName %>">
          </div>
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <div>
            <input onkeyup="phone(this)" maxlength="12" type="text" class="form-control" name="phone" id="phone" placeholder="<%= user.phone %>">
          </div>
        </div>
        <div class="form-group">
          <label for="infoState">Date Of Birth</label>
          <div>
            <input type="text" id="dateOfBirth" class="form-control" name="dateOfBirth" placeholder="<%= user.dateOfBirth === "" ? user.dateOfBirth : "MM/DD/YY" %>">
          </div>
        </div>

        <button id="x1" onclick="saveUserInfo()" type="button" class="btn btn-warning btn-block login-btn" >Save</button>
      </form>
      <!-- Payment Methods -->
      <form class="tab-form" style="display: none;" id="card" action="#">
        <div class="form-group">
          <label>Card Number</label>
          <div>
            <input onkeyup="formatBankNo(this)"  type="text" class="form-control" name="card" id="card" placeholder="<%= user.card %>">
          </div>
        </div>
        <div class="form-group">
          <label>Expiration Date</label>
          <div>
            <input onkeyup="formatDate(this)"  type="text" class="form-control" name="expDate" id="expDate" placeholder="<%= user.expDate === "" ? user.expDate : "MM/YY" %>">
          </div>
        </div>
        <div class="form-group">
          <label>Security Code</label>
          <div>
            <input type="number" class="form-control" name="secCode" id="secCode" placeholder="<%= user.secCode === "" ? user.secCode : "XXX" %>" oninput="if(value.length>4)value=value.slice(0,4)" />
          </div>
        </div>

        <button onclick="saveCardInfo()" type="button" class="btn btn-warning btn-block login-btn" >Save</button>
      </form>
      <!-- Delivery Addresses -->
      <form class="tab-form" style="display: none;" id="deliveryForm" action="#">
        <div class="form-group">
          <label for="sState">Street Address</label>
            <input id="street" class="form-control" name="street" placeholder="<%= user.street %>">
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" name="city" id="city1" placeholder="<%= user.city %>">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="zip">Zip</label>
              <input type="number" class="form-control" name="zip" id="zip" placeholder="<%= user.zip %>" oninput="if(value.length>5)value=value.slice(0,5)" />
            </div>
          </div>
        </div>

          <div class="form-group">
            <label for="state">State</label>
            <select id="state" class="form-control" name="state" placeholder="<%= user.state %>">
              <option value="" selected="">-Select-</option>
            </select>
          </div>

        <button onclick="saveDeliveryInfo()" type="button" class="btn btn-warning btn-block login-btn" >Save</button>
      </form>
    </div>
  </div>
</div>
<!-- /.row -->

  <% } %>