<%- include partials/header %>
<%- include partials/login %>
  <!-- Page Content -->
  <div class="container">

<<<<<<< HEAD
    <%- include partials/category %>
=======
    <%- include partials/show_categories %>
>>>>>>> a35e351c61357c27ed63fb048b9882d53dee1bcd

    <%- include partials/show_products %>

  </div>
  <!-- /.container -->

  <%- include partials/recommendation %>

<%- include partials/footer %>
