<%- include partials/header %>
<%- include partials/login %>
  <!-- Page Content -->
  <div class="container">

    <%- include partials/show_categories %>

    <%- include partials/show_one_product %>

  </div>
  <!-- /.container -->

  <%- include partials/recommendation %>

<%- include partials/footer %>